<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>Showroom</title>

  <link href="/static/src/scss/app.css" rel="stylesheet" />

</head>
<body>

  <header id="main-header">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="hide-text">Showroom</h1>
        <nav class="right">
          <a href="" class="btn -outline">Log in</a>
          <a href="" class="btn -white">Sign up</a>
        </nav>
      </div>
    </div>
  </header>

  <div class="filter-bar">
    <div class="row">
      <div class="large-12 columns">
        <a href="" class="btn">Filters</a>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-1">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-2">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-3">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-4">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-5">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-6">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-7">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-8">
        <div class="vehicle-details">
          <h2>Car name</h2></div>
      </div>
    </div>
    <div class="large-4 small-4 columns">
      <div class="vehicle">
        <img src="http://420placehold.it/cars/600-400-9">
        <div class="vehicle-details">
          <h2>Car name</h2>
        </div>
      </div>
    </div>
  </div>

  <footer></footer>

  <div id="app"></div>

  <% if (env === 'development') { %>
  <script type="text/javascript" src="/static/bundle.js"></script>
  <% } else { %>
  <script type="text/javascript" src="/static/bundle.min.js"></script>
  <% } %>

</body>
</html>
